<div class = "col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
  <% @grams.each do |gram| %>
  <div class = "card">
    <%= image_tag gram.picture, class: 'img-fluid' %>
    <span class = "handle"><%= gram.user.email %></span> 
    <span class = "caption"> <%= gram.message %></span>
    
    <div class = "gram-actions float-right">
      <% if current_user && current_user == gram.user %>
        <%= link_to 'Edit', edit_gram_path(gram), class: 'btn btn-primary btn-sm' %>
        <%= link_to 'Delete', gram_path(gram), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-sm' %>
      <% end %>
    </div>
    <br class = "clear-fix" />
    <div class = "comments" >
      <h4> Comments </h4>
      <% gram.comments.each do |comment| %>
        <div class = "comment">
          <span class = "comment-handle"><%= comment.user.email %>
          </span>
          <%= comment.message %>
        </div>
      <% end %>
      <br />
      <%= simple_form_for Comment.new, url: gram_comments_path(gram) do |f| %>
        <%= f.input :message, label: false, placeholder: 'Add a Comment' %>
        <%= f.submit 'Add Comment', class: 'btn btn-secondary btn-sm float-right' %>
      <% end %> 
    </div>
  </div>
  <% end %> 
</div>